@import '3p/react-md.scss';
@import '3p/markdown.scss';

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
  margin-bottom: 1em;
}

p {
  width: 80%;
  margin: auto;
}

a {
  color: $md-primary-color;
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $md-secondary-color;
  }
}

.flex {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.md-paper.section {
  background-color: #fff;
  padding: 0.4em;

  text-align: left;
  margin: 1em;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  > button.md-btn--raised {
    margin: 1em;
  }
}

nav.md-drawer > ul.md-list {
  text-align: left;
}

main.app > header {
  margin-bottom: 1em;
}

section.network > ul.projects {
  text-align: left;
  list-style: none;
  max-width: 40em;
  padding: 0;
  margin: auto;

  > li {
    display: flex;
    margin: 2em 1em;

    > img {
      min-width: 5em;
      min-height: 5em;
      max-width: 5em;
      max-height: 5em;
      /* ^ this _appears_ to fix weird image size bug */
      margin-right: 0.5em;
    }

    > div.info {
      > h3.name {
        margin-bottom: 0em;
      }

      > p {
        font-size: 110%;
        width: 100%;
      }
    }
  }
}

section.documentation-list {
  margin-top: -1em;

  ul.projects {
    width: 50%;
    margin: auto;
    text-align: left;
    margin-top: 1em;

    li.documentation-item {
      .description {
        font-size: 90%;
        display: block;
        color: $md-grey-700;
      }
    }
  }
}

.markdown-body {
  text-align: left;
  padding: 1em;

  p {
    width: 100%;
  }
}

div.advertise {
  h3 {
    margin-bottom: 0;
  }
}
