@import '3p/react-md.scss';
@import '3p/markdown.scss';

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
  margin-bottom: 1em;
}

p {
  width: 80%;
  margin: auto;
}

a {
  color: $md-primary-color;
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $md-secondary-color;
  }
}

.flex {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.md-paper.section {
  background-color: #fff;
  padding: 0.4em;

  text-align: left;
  margin: 1em;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  > button.md-btn--raised {
    margin: 1em;
  }
}

nav.md-drawer > ul.md-list {
  text-align: left;
}

main.app {
  > header {
    margin-bottom: 1em;
  }

  > section > header {
    padding: 1em;

    > h1 {
      color: black;
      margin-bottom: 0.1em;
    }

    > p {
      width: 100%;
      font-size: 160%;
      line-height: 140%;
    }
  }
}

section.network > ul.projects {
  text-align: left;
  list-style: none;
  max-width: 40em;
  padding: 0;
  margin: auto;

  > li {
    border-bottom: solid 0.1em $md-grey-200;
    align-items: center;
    padding: 2em 0;
    display: flex;
    margin: 0 1em;

    &:last-child {
      border-bottom: none;
    }

    > img {
      min-width: 5em;
      min-height: 5em;
      max-width: 5em;
      max-height: 5em;
      /* ^ this _appears_ to fix weird image size bug */
      margin-right: 0.5em;
    }

    > div.info {
      > h2.name {
        margin-bottom: 0em;
      }

      > p {
        line-height: 150%;
        font-size: 130%;
        width: 100%;
      }
    }
  }
}

ul.md-list.documentation {
  max-width: 40em;
  margin: auto;
}

section.contact-form {
  > div.md-menu-container {
    width: 100%;
  }
}

.markdown-body {
  text-align: left;
  padding: 1em;

  p {
    width: 100%;
  }
}

hr.section-divider {
  margin: 2em;
}

div.xyfir-blog {
  text-align: left;

  &.explore {
    padding: 1em;
  }

  &.view-post {
    p.description {
      width: 100%;
      margin-bottom: 0.4em;
    }

    div.markdown-body {
      padding: 0;
    }
  }
}

section.advertise,
section.contact-us {
  div.g-recaptcha > div {
    margin: auto;
    margin-bottom: 1em;
  }
}
