/* MISC */
body {
	font-family: "Roboto", sans-serif;
    text-align: center;
	margin: 0;
	margin-bottom: 1em;
}
p {
	width: 80%;
	margin: auto;
}

/* LINKS */
a {
	color: $blue;
    cursor: pointer;
	text-decoration: none;
}
a:hover, a:focus {
	color: $lblue;
}
.link-lg {
	font-size: 125%;
}