<!DOCTYPE html>

<html>

<head>
  <title>Xyfir Software Solutions</title>
  <meta name="description" content="We build software: web, mobile, and desktop apps; command line tools; bots and automation; and much more. What can we do for you?">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/xss.css">

  <link rel="icon" type="image/png" sizes="192x192" href="/static/icons/xyfir/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/static/icons/xyfir/favicon-96x96.png">

  <meta name="msapplication-TileColor" content="#2196f3">
  <meta name="theme-color" content="#2196f3">
</head>

<body>
  <div id="content"></div>
  <script src="/static/js/XSS.js"></script>
</body>

</html>